:root {
    --title-font: 'Roboto', sans-serif;
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--title-font);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-position: top right;
    font-family: var(--title-font);
    color: var(--cf-light)
}

.bodyBG {
    background: url("/img/LandingPage_576.png"), var(--cf-darkblue);
    background-position: top right;
    background-repeat: no-repeat;
}

.mainTitle {
    font-family: var(--title-font);
    font-size: 1.5em;
}


.subTitle {
    font-family: var(--title-font);
    font-size: 1em;
}

.navbar {
    color: var(--cf-light);
}
.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: transparent;
}








/* Small devices (landscape phones, 576px and up) */
@media (min-width: 575.98px) {
    ...
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 767.98px) {
    ...
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991.98px) {
    ...
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1199.98px) {
    ...
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1399.98px) {
    ...
}